* {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

main {
  background-color: white;
}

@media only screen and (max-width: 500px) {
  .intro {
    background-size: 100%;
  }

  .btnContainer-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.intro{
  background: linear-gradient(rgba(127, 127, 127, 0.8), rgba(0, 0, 0, 0.8)), url("Images/arduino-workshop.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  min-height: 92vh;
}

.imgNav {
  width: auto;
  height: 100%;
  max-height: 5vh;
  border-radius: 90rem;
}

.container {
  display: flex;
  height: auto;
  background-color: rgba(127, 127, 127, 0.6);
  border-radius: 90px;
  justify-content:center;
  text-align: center;
  font-size: 100px;
  color: white;
}

.container-intro {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  text-align: center;
  height: fit-content;
  margin: 20px;
  border-radius: 10px;
}

.intro-desc {
  font-size: 200%;
  color: white;
}

.btn {
  text-transform: uppercase;
}

.about .container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.card {
  margin: 20px;
  padding: 10px;
  display: flex;
  width: 80%;
}

/* .card .card-body .card-text {
  font-size: xx-large;
} */